/*
* @Author: oscarcp
* @Date:   2017-05-02 01:42:07
* @Last Modified by:   oscarcp
* @Last Modified time: 2017-05-02 04:08:45
*/

html {
    font-family: 'Cabin', 'Open Sans', sans-serif;
    background: #fff;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

p, li {
    font-family: 'Jaldi', sans-serif;
    font-size: 1.25rem;
}

.tabs {
    border: none;
    text-align: center;
}

.tabs li {
    display: inline-block;
    float: none;
}

.tabs-title>a {
    color: #666;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    border-bottom: 3px solid #fff;
}

.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
    background: none;
    color: #666;
}

.is-active>a {
    border-bottom: 3px solid #666;
}

.tabs-title>a:hover {
    color: #000;
    font-weight: bold;
    transition: color 1s ease;
    border-bottom: 3px solid #000;
}

.tabs-content {
    border: none;
}

.job-desc {
    margin-top: -20px;
}

.divider {
    margin: 20px auto 20px auto;
    display: block;
}

#image-frame{
    border-radius: 3%;
    overflow:hidden;
}

.avatar {
    filter: grayscale(100%) contrast(110%);
    width: 100%;
}

.name {
    margin-top: 50px;
}

.tabs-title.is-active {
    color: #000;
    font-weight: bold;
}

.github {
    margin: auto;
    display: block;
}
