body {
    font-family: 'Maven Pro';
}

.altheader {
    font-family: 'Quicksand';
    font-size: 48px;
    font-weight: 300;
}

.footer {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #CCC;
}

.box {
    width: 220px;
    margin: 4px;
    float: left;
}

#photos {
    margin: 0 auto;
    width: auto;
}

.quicksand {
    font-family: 'Quicksand';
    font-weight: 300;
}